Soap/WebContent/wsdl/soapclass_schema1.xsd

<xs:schema xmlns:tns="http://soap.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://soap.com/" version="1.0">

  <xs:element name="message" type="tns:message"/>

  <xs:element name="messageResponse" type="tns:messageResponse"/>

  <xs:complexType name="message">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="messageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
